version: '3'
services:
  django:
    build:
      context: .
      dockerfile: ./dev/django.Dockerfile
    command: ["./manage.py", "runserver", "0.0.0.0:8000"]
    # Log printing via Rich is enhanced by a TTY
    tty: true
    volumes:
      - .:/opt/django-project
    ports:
      - 8000:8000

  tailwind:
    build:
      context: .
      dockerfile: ./dev/tailwind.Dockerfile
    command: ["yarn", "run", "watch"]
    volumes:
      - .:/opt/django-project
      # Exclude internally-installed node_modules from being overwritten by the host mounting
      - /opt/django-project/tailwind/node_modules
