{% load allauth %}
<div class="card card-compact bg-base-100 border border-neutral-200 dark:border-white/10">
  <div class="card-body">
    <h2 class="card-title">
      {% slot title %}{% endslot %}
    </h2>
    <div>
      {% slot body %}{% endslot %}
    </div>
    {# TODO: slots.actions is always truthy #}
    {% if slots.actions %}
      <div class="card-actions items-center justify-end">
        {% for action in slots.actions %}
          {{ action }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
