{% extends 'account/base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans 'Sign In' %}{% endblock %}

{% block content %}
<h3 class="mb-2">{% trans 'Sign In' %}</h3>

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<p>
  {% blocktrans trimmed %}
  Please sign in with one of your existing third party accounts.
  Or, <a href="{{ signup_url }}">sign up</a> for an account and sign in below:
  {% endblocktrans %}
</p>
<div class="socialaccount_ballot bg-gray-100 my-4 p-4 rounded">
  <ul class="socialaccount_providers space-y-2">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  {% include "socialaccount/snippets/login_extra.html" %}
</div>

<div class="login-or font-bold h-8 relative text-center">
  <span class="absolute left-0 right-0 text-center z-20">
    <span class="bg-white inline-block mx-auto py-1 px-3">
      {% trans 'or' %}
    </span>
  </span>
  <hr class="absolute top-1/2 w-full z-10">
</div>

{% else %}
<p class="border-b border-gray-300 mb-3 pb-5">
  {% blocktrans trimmed %}
  If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
  {% endblocktrans %}
</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <p class="flex items-center justify-between pb-0 pt-5">
    <a class="secondaryAction" href="{% url 'account_reset_password' %}">
      {% trans 'Forgot Password?' %}
    </a>
    <button class="inline-flex items-center is-primary primaryAction">
      {% trans 'Sign In' %}
      <i class="ri-arrow-right-circle-line ml-3 text-xl"></i>
    </button>
  </p>
</form>
{% endblock %}
