{% extends 'account/base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}
<h3 class="mb-2">{% trans 'Password Reset' %}</h3>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p class="mb-3">
  {% blocktrans trimmed %}
  Forgot your password?
  Enter your e-mail address below, and we'll send you an e-mail containing a link to reset it.
  {% endblocktrans %}
</p>

<p class="mb-3">
  {% blocktrans trimmed %}
  Please contact us if you have any trouble resetting your password.
  {% endblocktrans %}
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="flex justify-end">
    <button class="is-primary">
      {% trans 'Reset My Password' %}
    </button>
  </div>
</form>
{% endblock %}
