{% extends 'account/base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Sign Up' %}{% endblock %}

{% block content %}
<h3 class="mb-2">{% trans 'Sign Up' %}</h3>

<p class="border-b border-gray-300 mb-3 pb-5">
  {% blocktrans trimmed %}
  Already have an account?
  Then please <a href="{{ login_url }}">sign in</a>.
  {% endblocktrans %}
</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <p class="flex justify-end pb-0 pt-5">
    <button class="inline-flex items-center is-primary">
      {% trans 'Sign Up' %}
      <i class="ri-arrow-right-circle-line ml-3 text-xl"></i>
    </button>
  </p>
</form>
{% endblock %}
