{% extends 'account/base.html' %}

{% block head_title %}Account Inactive{% endblock %}

{% block content %}
<div class="alert alert-error">
  <div class="flex-1 items-center">
    <i class="ri-error-warning-line mr-4 text-4xl"></i>
    <label>
      Error: Account Inactive
    </label>
  </div>
</div>

<div class="pb-2 pt-5">
  <p class="mb-5">
    For more information, you may contact an admin.
    If you think you've received this message in error, try to log in again.
  </p>
  <p class="text-right">
    <a href="{% url 'account_email' %}" class="btn btn-primary inline-flex items-center is-primary">
      Log In
      <i class="ri-arrow-right-circle-line ml-3 text-xl"></i>
    </a>
  </p>
</div>
{% endblock %}
