{% extends 'account/base.html' %}

{% load account %}

{% block head_title %}Confirm E-mail Address{% endblock %}

{% block content %}
<h3 class="card-title mb-2">Confirm E-mail Address</h3>

{% if confirmation %}

<p>
  Please confirm that <a href="mailto:{{ confirmation.email_address.email }}" class="link-accent">{{ confirmation.email_address.email }}</a>
  is an e-mail address for user {% user_display confirmation.email_address.user %}.
</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
  {% csrf_token %}
  <button class="btn btn-primary">
    Confirm
  </button>
</form>

{% else %}

<div class="alert alert-error mb-4">
  <div class="flex-1 items-center">
    <i class="ri-error-warning-line mr-4 text-4xl"></i>
    <label>
      Link expired or invalid.
    </label>
  </div>
</div>

This confirmation link is expired or invalid.
Please issue a new e-mail confirmation request.

<div class="flex justify-end mt-4">
  <a href="{% url 'account_email' %}" class="btn btn-primary">
    New Request
  </a>
</div>
{% endif %}
{% endblock %}
