{% extends 'account/base.html' %}

{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
<h3 class="mb-2">Password Reset</h3>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p class="mb-3">
  Forgot your password?
  Enter your e-mail address below, and we'll send you an e-mail containing a link to reset it.
</p>

<p class="mb-3">
  Please contact us if you have any trouble resetting your password.
</p>

<form method="POST" action="{% url 'account_reset_password' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="flex justify-end pb-0 pt-5">
    <button class="btn btn-primary">
      Reset My Password
    </button>
  </div>
</form>
{% endblock %}
