{% extends 'account/base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Verify Your E-mail Address' %}{% endblock %}

{% block content %}
<h3 class="mb-2">{% trans 'Verify Your E-mail Address' %}</h3>

{% url 'account_email' as email_url %}

<p>
  {% blocktrans trimmed %}
  This part of the site requires us to verify that you are who you claim to be.
  For this purpose, we require that you verify ownership of your e-mail address.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans trimmed %}
  We have sent an e-mail to you for verification.
  Please click on the link inside this e-mail.
  Please contact us if you do not receive it within a few minutes.
  {% endblocktrans %}
</p>

<div class="alert alert-warning mt-4">
  <div class="flex-1 items-center">
    <i class="ri-information-line mr-4 text-4xl"></i>
    <label>
      <strong>{% trans 'Note' %}:</strong>
      {% blocktrans trimmed %}
      you can still <a href="{{ email_url }}" class="link">change your e-mail address</a>.
      {% endblocktrans %}
    </label>
  </div>
</div>
{% endblock %}
