{% extends 'account/base.html' %}

{% block head_title %}Verify Your E-mail Address{% endblock %}

{% block content %}
<h3 class="mb-2">Verify Your E-mail Address</h3>

<p>
  This part of the site requires us to verify that you are who you claim to be.
  For this purpose, we require that you verify ownership of your e-mail address.
</p>

<p>
  We have sent an e-mail to you for verification.
  Please click on the link inside this e-mail.
  Please contact us if you do not receive it within a few minutes.
</p>

<div class="alert alert-warning mt-4">
  <div class="flex-1 items-center">
    <i class="ri-information-line mr-4 text-4xl"></i>
    <label>
      <strong>Note:</strong>
      you can still <a href="{% url 'account_email' %}" class="link">change your e-mail address</a>.
    </label>
  </div>
</div>
{% endblock %}
