{% load static %}
<!DOCTYPE html>
<html>
{% block head %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{% block head_title %}{% endblock %}</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="{% static 'auth_style/dist/styles.css' %}">
  <link rel="stylesheet" href="{% static 'auth_style/dist/icons.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">

  {% block head_extra %}{% endblock %}
</head>
{% endblock %}
{% block body %}
<body>
</body>
{% endblock %}
</html>
